<div class="app-container">
  <app-header></app-header>
  
  <div class="main-content">
    <div class="left-panel">
      <app-course-treeview
        [courses]="courses"
        [selectedLesson]="selectedLesson"
        (lessonSelected)="onLessonSelected($event)">
      </app-course-treeview>
    </div>

    <div class="main-panel">
      <app-file-viewer
        [lesson]="selectedLesson"
        [playbackRate]="playbackRate"
        [onPrev]="goPrevLesson.bind(this)"
        [onNext]="goNextLesson.bind(this)">
      </app-file-viewer>
    </div>
  </div>
</div>
